<div class="umb-editor" ng-controller="SniperDropdown.Prevalues.Items">
    <div class="control-group">
        <strong>Name</strong>
        <input name="newItemName" type="text" ng-model="newItemName" val-highlight="hasError" />
        <strong>Alias</strong>
        <input name="newItemAlias" type="text" ng-model="newItemAlias" val-highlight="hasError" />
        <button class="btn btn-small" ng-click="add($event)">Add</button>
    </div>
    <div ui-sortable="sortableOptions">
        <div class="control-group" ng-repeat="item in model.value">
            <i class="icon icon-navigation handle"></i>
            <strong>Name</strong>
            <input type="text" ng-model="item.name" required />
            <strong>Alias</strong>
            <input type="text" ng-model="item.alias" required />
            <button class="btn btn-small btn-danger" ng-click="remove(item, $event)">Remove</button>
        </div>
    </div>
</div>
