<div ng-controller="SniperContentGrid.editorController" class="dtg">
    <input type="hidden" name="modelValue" ng-model="model" />

    <div ng-if="viewStyle == 'horizontal'">
        <table class="table table-hover table-responsive table-bordered dtgTable">
            <thead>
                <tr>
                    <th ng-repeat="column in model.config.columns" ng-style="{width: column.width ? (column.width + '%') : null}">{{column.title}}</th>
                    <th style="width:60px" ng-if="!isReadOnly()"></th>
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="controls">
                <tr ng-repeat="row in controls">
                    <td ng-repeat="cell in row" class="cell" ng-class="{'error': cellHasError($index, $parent.$index)}">
                        <sniper-content-grid-property-editor model="cell" ng-if="!cell.template"></sniper-content-grid-property-editor>
                        <ng-include src="cell.template" ng-if="cell.template" />
                    </td>
                    <td class="actions" ng-if="!isReadOnly()">
                        <span class="btn btn-default icon icon-height sortHandle"></span>
                        <span ng-click="removeRow($index)" class="btn btn-danger icon icon-trash"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="viewStyle == 'vertical'">
        <div ui-sortable="sortableOptions" ng-model="controls">
            <div ng-repeat="row in controls">
                <div>
                    <div style="float:left"><h4 style="margin:0;padding:0">{{ row[0].value }}</h4></div>
                    <div style="float:right; margin-right: 45px" ng-if="!isReadOnly()">
                        <span class="btn btn-default btn-sm icon icon-height sortHandle"></span>
                        <span ng-click="removeRow($index)" class="btn btn-danger icon icon-trash btn-sm"></span>
                    </div>
                    <div style="clear:both">
                    </div>
                    <div ng-repeat="column in model.config.columns" style="margin-bottom: 10px">
                        <strong>{{ column.title }}</strong>
                        <div ng-repeat="cell in row">
                            <div ng-if="cell.column.alias == column.alias" class="cell" ng-class="{'error': cellHasError($index, $parent.$parent.$parent.$index) }">
                                <sniper-content-grid-property-editor model="cell" ng-if="!cell.template"></sniper-content-grid-property-editor>
                                <ng-include src="cell.template" ng-if="cell.template" />
                            </div>
                        </div>
                        <hr />
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!isReadOnly() && (maxRows == 0 || controls.length < maxRows)">
        <button type="button" class="btn btn-default" ng-click="addRow()">Add row</button>
    </div>
</div>
