@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AppHost>
@using ContentModels = RunClub.ContentModels;
@{
    Layout = "Master.cshtml";

    <div ng-app="routesApp">
        <div class="view {{view}}" ng-view></div>
    </div>

}
@section Head{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeWHf1yBGiJgWoaQH_PEN2bnwZ2aCFSbE&libraries=geometry,visualization"></script>
    <script src="/js/vendor/angular.js"></script>
    <script src="/js/vendor/angular-route.js"></script>
    <script src="/js/vendor/angular-sanitize.min.js"></script>
    <script src="/js/vendor/angular-ellipsis.js"></script>
    <script src="/js/vendor/underscore-min.js"></script>
    <script src="/js/vendor/gpx.js"></script>
    <script src="/js/vendor/v3_epoly.js"></script>
    <script src="/js/vendor/chart.js"></script>
    <script src="/js/vendor/snazzy-info-window.js"></script>
    <script src="/js/vendor/jquery.tipTip.js"></script>
    <script src="/js/vendor/moment.js"></script>
    <script src="/js/vendor/angular-cache-buster.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/routes.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/controllers.js"></script>
    <base href="/app/">
}
@section PageHeader{
    <!--No pageheader -->
}