@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = RunClub.ContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="pageContent">
	@Html.GetGridHtml(Model.Content, ContentPage.GetModelPropertyType(p => p.PageContent).PropertyTypeAlias)
	
	@Html.Raw(Model.Content.ExternalEmbed)
					
</div>
