@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = RunClub.ContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="pageContent">
	@Html.GetGridHtml(Model, ContentPage.GetModelPropertyType(p => p.PageContent).Alias)
	
	@Html.Raw(Model.ExternalEmbed)
					
</div>
