<section class="jumbotron text-center">
    <div class="tint">
        <div class="container">
            <h1 class="jumbotron-heading">About the club</h1>
            <p class="lead text-muted">
            <p>
                Started in 2017, MetroRun is a running club that is based in Auckland aimed at the casual and amateur athelete. <br />
            </p>
            <p>
                <a href="#about-the-club" class="btn btn-secondary">Read more below</a>
            </p>
        </div>
    </div>
</section>
<div class="col-md-7 offset-2" ng-if="!loading" id="about-theclub">
    <h3>History & foundation</h3>
    <p>
        The club was founded in 2017 by a group of passionate runners wanting to continue a tradition that was originally started by Hayden Shearman at Tempofit. <br />
        Combining a love of running with a structured training program and a regular free Sunday group run, Tempofit offered the casual runner a new type of running club.<br />
        When Tempofit closed (due to relocation), we formed MetroRun to further our own training and share the love of running with the wider running community.
    </p>
    <h3>Facilities & meetups</h3>
    <p>
        As we operate across the entire Auckland isthmus, we do not have any fixed location or club house.<br />
        You'll find us running on Sundays at various locations around Auckland (see our <a href="/app/routes/calendar">calendar</a>) and a few core members also meet on Tuesday and Thursday.<br />
        We plan to start offering this training to all club members in the future, however for the meantime we are just working out the right structure and program.<br/>
        At some of the Auckland events, we offer pace runners and will often have a tent at the event base.
    </p>
    <h3>Pacing</h3>
    <p>
        A small group of our runners often pace at events (including Auckland Marathon, Rotorua Marathon and the Run Auckland series) and we pride ourselves in running like <span class="green">metro</span>nomes.<br/>
        It isn't unusual for us to finish a race within 1 minute of our goal time.<br/>
        The secret to our success? Structured training and only pacing at times which we know are within our limits.<br/>
        Many pacers try to pace races as a way to get free entry but we believe that we're there to support the other runners, not run for ourselves.
    </p>
    <h3>Community</h3>
    <p>
        As our club was formed by runners with a mutual love of running, community is at the heart of our club.<br/>
        From our pacing to our mission statement, our goal is to help others enjoy running and support them through their running journey. <br/>
        It doesn't matter if you can only run 5k or are training for your 20th marathon, the community, support and group training model that we strive to uphold is core to our values and club.
    </p>
    <a href="/app/become-a-member" class="btn btn-success">Become a member</a>
</div>