<section class="jumbotron text-center">
	<div class="tint">
		<div class="container">
			<h1 class="jumbotron-heading">Auckland Sunday Group Runs</h1>
			<p class="lead text-muted">
			<p>
				Our Sunday group run has been cancelled in light of the recent COVID-19 situation until it is resolved. 
			</p>
			<p>
				Stay safe and we will advise when we're back on.<br/>
				Until then - remember, you can still run and get out there (and you should!) but keep your distance and avoid groups.
			</p>
		</div>
	</div>
</section>