<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">We are MetroRun</h1>
            <hr>
            <p>An Auckland-based running club, born out of a love for running and all things related whatever your ability.</p>
            <a href="#about" class="btn btn-success btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 text-center about">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">
                <p>
                    We are an Auckland based running club created for the running enthusiast,<br /> led by running enthusiasts.<br/><br />
                    We all share a love for the sport whether from the front or back of the pack<br/> or somewhere in-between.<br/><br />
                    The message we support above all else is "enjoy your running and have fun".<br/><br />
                    Club membership is currently subscription free, we meet to train during the week and our free Sunday runs are popular, starting from various locations around Auckland and ending with coffee, carrot cake and a chat.<br />
                </p>
                <a href="/app/routes/calendar" class="page-scroll btn btn-dark btn-xl sr-button">View the calendar</a>
                <a href="/app/about" class="btn btn-dark btn-xl sr-button">Find out more</a>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="gallery">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="/assets/gallery/gallery-1.jpg" class="gallery-box">
                    <img src="/assets/gallery/gallery-1.jpg?width=600&entropycrop=128" class="img-responsive" alt="">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-caption-content">
                            <div class="gallery-category text-faded">
                                Click to enlarge
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/assets/gallery/gallery-2.jpg" class="gallery-box">
                    <img src="/assets/gallery/gallery-2.jpg?width=600&entropycrop=128" class="img-responsive" alt="">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-caption-content">
                            <div class="gallery-category text-faded">
                                Click to enlarge
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/assets/gallery/gallery-3.jpg" class="gallery-box">
                    <img src="/assets/gallery/gallery-3.jpg?width=600&entropycrop=128" class="img-responsive" alt="">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-caption-content">
                            <div class="gallery-category text-faded">
                                Click to enlarge
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/assets/gallery/gallery-4.jpg" class="gallery-box">
                    <img src="/assets/gallery/gallery-4.jpg?width=600&entropycrop=128" class="img-responsive" alt="">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-caption-content">
                            <div class="gallery-category text-faded">
                                Click to enlarge
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/assets/gallery/gallery-5.jpg" class="gallery-box">
                    <img src="/assets/gallery/gallery-5.jpg?width=600&entropycrop=128" class="img-responsive" alt="">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-caption-content">
                            <div class="gallery-category text-faded">
                                Click to enlarge
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/assets/gallery/gallery-6.jpg" class="gallery-box">
                    <img src="/assets/gallery/gallery-6.jpg?width=600&entropycrop=128" class="img-responsive" alt="">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-caption-content">
                            <div class="gallery-category text-faded">
                                Click to enlarge
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 text-center">
                <h2 class="section-heading">Got a question?</h2>
                <hr class="primary">
                <p>Contact us or you can email us at <a href="mailto:hello@metrorun.co.nz">hello@metrorun.co.nz</a></p>
            </div>
            </div>
        <div class="row">
            <div class="col-md-3 offset-3 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>021 722291</p>
            </div>
            <div class="col-md-3 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">hello@metrorun.co.nz</a></p>
            </div>
        </div>
    </div>
</section>