<div class="container paceContainer">
	<div class="row">
		<div class="col-md-10 offset-1">
			<h3>Pace calculator</h3>
			<p>
				Use the below calculator to work out your training paces and your projected finish times for various race distances.<br />
				Simply enter a recent race result (over a flat and measured course). Note that our calculator only accounts for race times between the equivalent of 15:00 and 45:00 for the 5k.<br />
				Please keep in mind that the projections are just estimates and that they also require you to train specifically for that event, to the same degree as you trained for the event in which you used to calculate your projections and paces.
			</p>
			<script src="/js/pacecalculator.bundle.js" data-component="pace-calculator"></script>
		</div>
	</div>
</div>
