<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a35a39a3-a2be-4fa9-900f-e02a9b2efb80" Alias="FAQ Grid" Level="1">
  <Info>
    <Name>FAQ Grid</Name>
    <EditorAlias>SniperContentGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "viewStyle": "horizontal",
  "rows": 0,
  "readonly": false,
  "columns": [
    {
      "title": "Group",
      "alias": "faqGroup",
      "type": "dropdown",
      "required": false,
      "props": {
        "options": [
          {
            "text": "Sunday Runs",
            "value": "Sunday Runs"
          },
          {
            "text": "Membership",
            "value": "Membership"
          },
          {
            "text": "General",
            "value": "General"
          }
        ]
      }
    },
    {
      "title": "Question",
      "alias": "faqQuestion",
      "type": "textbox",
      "required": false,
      "props": {}
    },
    {
      "title": "Answer",
      "alias": "faqAnswer",
      "type": "rte",
      "required": false,
      "props": {}
    }
  ]
}]]></Config>
</DataType>