<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f4e3cef-fcb5-44e4-9d7e-0303a5dc9e9c" Alias="Multiple Link Picker" Level="1">
  <Info>
    <Name>Multiple Link Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>