<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03229fcd-0b73-41ab-a2db-0612b7016dd7" Alias="Single Link Picker" Level="1">
  <Info>
    <Name>Single Link Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>