@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var homepage = Umbraco.GetHomepageByDomain<Homepage>(Request.Url.Host);
	var url = Model.Url();
}
<div class="navbar navbar-light bg-light">
	<div class="container d-flex justify-content-start">
		<div class="siteLogo">
            <div class="inner"></div>
        </div>
		<div class="burgerButton"></div>
		<div class="navMobileBG"></div>
		<ul class="mainNav navMenu">
			@foreach (var navItem in homepage.NavItems)
			{
				var activePage = "";
				if (url == navItem.Url)
				{
					activePage = "active";
				}

				<li class="@activePage">
					<a href="@navItem.Url">@navItem.Name<span></span></a>
				</li>
			}
		</ul>
	</div>
</div>