@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var header = Model as IPageHeader;
    if (header != null)
    {

        <div class="pageHeader" style="@(header.PageHeaderImage != null ? "background-image: url(" + header.PageHeaderImage.Url() + ");" : "")">
            <div class="@(Model.IsDocumentType("homepage") ? "" : "tint")">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>@header.PageHeaderTitle</h1>
                        @if (Model.IsDocumentType("homepage"))
                        {
                            <hr />
                        }
                        else
                        {
                            <p></p>
                        }
                        @Html.Raw(header.PageHeaderContent)
                    </div>
                </div>
                .
            </div>
        </div>
        <div }id="scrollAnchor"></div>
    }
}