@green: #20bc5c;
@import "font-awesome-4.7.0/less/font-awesome.less";


html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 75rem;
    font-family: 'Open Sans'
}

.navbar {
    margin-bottom: 0;

    a {
        margin-right: 20px;
        display: inline-block;
    }
}


hr {
    border-color: @green;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: @green;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: @green !important;

    .about {
        color: #fff;
    }
}


.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('/assets/home-banner.jpg');
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 50px 15px 100px;
    width: 100%;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-shadow: 1px 1px 5px #000;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
    text-shadow: 1px 1px 5px #000;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 5px #000;
}

.section-heading {
    margin-top: 0;
}

section#gallery {
    padding-top: 40px;
}

.gallery-box {
    position: relative;
    display: block;
    max-width: 600px;
    margin: 0 auto;
    max-height: 323px;
    overflow: hidden;
}

.gallery-box .gallery-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(32, 188, 92, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    margin-right: 20px;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category,
.gallery-box .gallery-box-caption .gallery-box-caption-content .project-name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.gallery-box .gallery-box-caption .gallery-box-caption-content .project-name {
    font-size: 18px;
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .gallery-box .gallery-box-caption .gallery-box-caption-content .gallery-category {
        font-size: 16px;
    }

    .gallery-box .gallery-box-caption .gallery-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: @green;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

div.view.routes-all {
    .jumbotron {
        background-image: url(/assets/routes-all.jpg?height=700);
    }
}
div.view.routes-calendar {
    .jumbotron {
        background-image: url(/assets/calendar.jpg?height=700);
    }
}
div.view {
    .jumbotron {
        background-size: cover;
        color: #fff;
        text-shadow: 1px 1px 5px #000;
    }

    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
        margin-bottom: 20px;
        background-color: #fff;
        position: relative;
        height: 700px;

        .container {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 2;
        }

        .tint {
            content: '';
            z-index: 1;
            height: 100%;
            width: 100%;
            position: absolute;
            overflow: auto;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: rgba(0, 0, 0, 0.4);
        }
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    margin-top:50px;
    font-weight: 300;
}

.jumbotron .container {
    max-width: 80rem;
}

.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
}

.description-container {
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(transparent 100px, white);
    }

    .card-text {
        font-size: 85%;
    }
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

div.map-container {
    position: relative;
    height: 600px;
    width: 800px;

    div.map-loading {
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        div.run {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
            background-image: url(../images/running.gif);
            width: 100px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .map-canvas {
        height: 600px;
        width: 800px;
    }
}

.distance-options {
    span {
        float: left;
        display: block;
        line-height: 38px;
        vertical-align: middle;
    }

    span i, span span {
        float: left;
        margin-right: 10px;
        display: block;
    }

    span i {
        color: @green;
        font-size: 120%;
        margin-top: 12px;
    }
}

.terrain-options {
    padding: 0;
    margin: 0;
    width: 800px;

    li {
        padding: 0;
        margin: 0;
        display: inline-block;
        border: solid 0px @green;
        border-bottom-width: 10px;
        list-style-type: none;

        &.terrain-trail {
            border-color: #9b4513;
        }

        &.terrain-forest {
            border-color: #228b22;
        }

        &.terrain-road, &.terrain-urban {
            border-color: #36454f;
        }
    }
}

.elevation-graph {
    width: 800px;
    height: 200px;
}

.dropdown ul {
    padding: 10px;
    margin: 0;
    width: 200px;

    li {
        list-style-type: none;

        .form-check {
            margin-bottom: 0;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                margin-left: 10px;
            }
        }
    }
}

.map-footer {
    padding: 10px;
    background-color: #f7f7f7;
    width: 800px;
    float: left;

    .dropdown {
        background-color: #fff;
    }
}

.si-has-border .si-content-wrapper {
    border: 3px solid #20bc5c;
}

.si-pointer-border-top {
    border-top-color: #20bc5c;
}

.si-pointer-border-bottom {
    border-bottom-color: #20bc5c;
}

.si-pointer-border-left {
    right: 0;
    border-left-color: #20bc5c;
}

.si-pointer-border-right {
    left: 0;
    border-right-color: #20bc5c;
}

.after-run {
    strong {
        display: block;
        float: left;
        margin-right: 15px;
    }

    table {
        width: 400px;
    }

    .popover-rating {
        padding: 10px;
    }

    .rating-container {
        float: left;

        .rating {
            color: #999999;
            float: left;
            margin-right: 12px;
            font-size: 20px;
        }

        .rating.active-half, .rating.active {
            color: #eacc16;
        }
    }
}

i.tipTip {
    cursor: pointer;
    color: @green;
    font-size: 16px;
}


.event-list {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0px;

    > li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
    }

    > li > time {
        display: inline-block;
        width: 100%;
        color: #444444;
        background-color: #fafafa;
        border-left: solid 6px #20bc5c;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }

    > li > time > span {
        display: none;
    }

    > li > time > .day {
        display: block;
        font-size: 56pt;
        font-weight: 100;
        line-height: 1;
    }

    > li time > .month {
        display: block;
        font-size: 24pt;
        font-weight: 900;
        line-height: 1;
    }

    > li time > .year {
        display: block;
        font-size: 16pt;
        font-weight: 900;
        line-height: 1;
    }

    > li > img {
        width: 100%;
    }

    > li > .info > .title-container {
        background-color: #fafafa;
        height: 32px;
        padding-left: 10px;

        h2 {
            font-size: 17px;
            font-weight: 700;
            margin: 0px;
            line-height: 32px;
            vertical-align: middle;
        }
    }

    > li > .info > .desc {
        font-size: 13px;
        font-weight: 300;
        margin: 0px;
    }

    > li .info .footer {
        padding: 0px;
        width: 100%;
        text-align: center;
        background-color: #fff;
        border-top: solid 3px #cccccc;

        p {
            height: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px;
            text-align: left;
            margin-bottom: 0;
        }
    }

    > li > .info > ul > li {
        display: table-cell;
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
    }

    a.btn {
        display: block;
        margin-right: 10px;
        color: #fff;
        width: 110px;
        float: right;
        font-size: 14px;
    }

    .calendar-cta {
        margin-top: 10px;
        height: 38px;
        line-height: 38px;
        vertical-align: middle;
    }

    @media (min-width: 768px) {
        > li {
            position: relative;
            display: block;
            width: 100%;
            height: 150px;
            padding: 0px;
        }

        > li > time,
        > li > img {
            display: inline-block;
        }

        > li > time {
            width: 120px;
            float: left;
        }

        > li > img {
            width: 150px;
            float: left;
        }

        > li > .info {
            border-left: solid 3px #cccccc;
            overflow: hidden;
        }

        > li > time {
            width: 120px;
            height: 150px;
            padding: 0px;
            margin: 0px;
        }

        > li > img {
            width: 150px;
            height: 150px;
            padding: 0px;
            margin: 0px;
        }

        > li > .info {
            position: relative;
            height: 150px;
            text-align: left;
        }

        > li > .info > .title,
        > li > .info > .desc {
            padding: 0px 10px;
        }

        > li > .info > ul {
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }
}
