

/**umb_name:Heading*/
.heading{font-size: 1.75rem;
font-weight: 500;
line-height: 1.2;
font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
margin-top:0;}



/**umb_name:Button*/
.siteButton{color: #fff;
background-color: #343a40;
border-color: #343a40;}