<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<script src="js/vendor.bundle.js"></script>-->
    <script src="js/vendor/lodash.js"></script>
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-simple-logger.js"></script>
    <script src="js/vendor/angular-sanitize.min.js"></script>
    <script src="js/vendor/angular-google-maps.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/gpx.js"></script>
    <script src="js/vendor/v3_epoly.js"></script>
    <script src="js/routes.app.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="css/routes.css" rel="stylesheet" />
</head>
<body>
    <div class="route-container" ng-app="routesApp" ng-controller="routesController">
        <div class="route" ng-repeat="route in data">
            <h1>{{ route.name }}</h1>
            <p ng-bind-html="route.description | br"></p>
            <h3>Meeting point</h3>
            <p>{{route.meetingPoint.label}}</p>
            <h3>Distance options</h3>
            <ul class="distance-options">
                <li ng-repeat="option in route.distanceOptions"><i class="fa fa-check-circle-o"></i>{{option}} km</li>
            </ul>
            <div class="map-container" data-route-id="{{route.id}}">
                <div class="map-loading" ng-show="route.loading">
                    <div class="run"></div>
                </div>
                <ui-gmap-google-map center="route.mapDefaults.center" zoom="route.mapDefaults.zoom" events="map.events" options="map.options">

                </ui-gmap-google-map>
            </div>
        </div>

    </div>
</body>
</html>